@keyframes trace-in {
  0% {
    width: 0;
  }

  to {
    width: inherit;
  }
}

@keyframes visual-arrow-down {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes header-view {
  0% {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes header-hide {
  0% {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes header-down {
  0% {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes header-up {
  0% {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}