* {
  color: #333;
}

.view {
  @include position;
  width: 100%;
  overflow-x: hidden;
}

.content {
  @include flex-row;
  justify-self: center;
  align-items: flex-start;
  padding-top: 20px;
  max-width: 1320px;
  margin: 0 auto;
}

section {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  @include position(st, 0, null, null, 0);
  width: 100%;
  border-bottom: 1px solid #DDD;
  &__wrap {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding: {
      top: 15px;
      bottom: 15px;
    }
  }
  &__left {
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
  }
  &__right {
    @include flex-row;
    justify-content: flex-end;
    align-items: center;
  }
  &__gnb {
    @include flex-row;
    column-gap: 30px;
    margin-left: 100px;
    li {
      a {
        font-size: 14px;
        span {
          @include position;
          color: #8654F6;
          padding-left: 30px;
          padding-right: 30px;
          line-height: 0.7em;
          text-transform: uppercase;
          &::before {
            @include position(a, 50%, null, null, 0);
            transform: translateY(-50%);
            width: 1px;
            height: 65%;
            background: #888;
            content: "";
          }
          &::after {
            @include position(a, 50%, 0, null, null);
            transform: translateY(-50%);
            width: 1px;
            height: 65%;
            background: #888;
            content: "";
          }
          img {
            @include position(a, -17px, null, null, 17px);
          }
        }
      }
    }
  }
  &__search {
    @include position;
    margin-right: 25px;
    input {
      width: 235px;
      height: 35px;
      border: 1px solid #DDD;
      border-radius: 30px;
      padding-left: 27px;
      &::placeholder {
        font-weight: 200;
      }
      &:focus {
        outline: 2px solid #0090F9;
      }
    }
    &-btn {
      @include flex-row;
      @include position(a, 50%, null, null, 10px);
      transform: translateY(-50%);
      justify-content: center;
      align-items: center;
      border: none;
      background: transparent;
      svg {
        font-size: 14px;
        fill: #999;
      }
      &:hover {
        svg {
          fill: #0090F9;
        }
      }
    }
  }

  &__mode {
    @include position;
    @include flex-row;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 24px;
    border-radius: 30px;
    background: #0090F9;
    svg {
      fill: rgb(255, 238, 2);
      width: 20px;
    }
    &-btn {
      @include position(a, 50%, null, null, 2px);
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #FFF;
    }
  }
  &__btn-wrap {
    @include flex-row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-left: 40px;
  }
}

.btn {
  @include flex-row;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 35px;
  border-radius: 30px;
  font-size: 12px;
  &.light {
    border: 1px solid #DDD;
    background: #FFF;
  }
  &.theme {
    border: 1px solid #0090F9;
    background: #0090F9;
    color: #FFF;
  }
}