.writers {
  max-width: 220px;
  height: 50vh;
  border: 1px solid #000;
  &__title {
    @include position;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    h4 {
      font-size: 16px;
      font-weight: 600;
    }
  }
  &__notice {
    @include position(a, null, -68%, -500%, null);
    transform: translateX(-50%);
    background: #666;
    font-size: 12px;
    font-weight: 300;
    color: #FFF;
    max-width: 130px;
    border: 1px solid #444;
    padding: 8px 12px;
    word-break: keep-all;
    span {
      color: #FFF;
      font-weight: 600;
    }
  }
}