// COLOR
$text-color--default: #FFF;
$text-color--gray: #DDD;

$point-color--default: #fa4270;
$point-color--second: #222;
$point-color--third: #333;

$border-color--default: #DDD;

// FONT-SIZE
$font-size--default: 16px;

// WIDTH
$width--min: 460px;
$width--max: 1920px;

// TRANSITION
$transition--default: 0.3s linear all;

// BORDER-RADIUS
$border-radius--default: 5px;
$border-radius--sm: 7px;



